<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Hi I'm Karan,<br>

I'm a Technology Evangelist who loves riding the global technology wave. There's so much to learn, to read and play with that I find myself tinkering with something or the other whenver I can. In my free time though, I love reading, spending quality time with family, watching movies and discovering music.

Outside the realm of technology - business, finance and investment interest me. I'm also an avid watch enthusiast and a Space nerd.

I typically work in areas concerning 
<ul>
    <li>Microservices and Serverless computing</li>
    <li>Docker and Kubernetes</li>
    <li>Integration</li>
    <li>API Management and Monitization</li>
    <li>Service orchestration using Service-Oriented-Architecture for enterprise solutions </li>
    <li>Hyperledger Fabric</li>
    <li>Full-stack Web Development</li>
</ul>

</div>